@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {

  font-family: 'Courier Prime', monospace;
  background: linear-gradient(90deg, rgba(116, 207, 192, 0.877), rgb(65, 168, 199), rgb(235, 177, 243));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
