.ScoreCard{
    display: flex;
    height: 1.5em;
    background-color: rgba(250, 250, 250, 0.411);
    padding: 0 1em;
    flex: 1 1 100%;
    align-items: center;
    
   
}

.ScoreCard-Desc{
    text-align: left;
    background-color: white;
    max-width: 125px;
    font-size: .8em;
    flex: 1 1 20em;


}

.ScoreCard-Scores{
    display: flex;
    height: 1.5em;
    flex: 1 1 100%;
    
}

.ScoreCard-Rd{
    border: solid 1px rgba(143, 142, 142, 0.479);
    height: 1.5em;
    flex: 1 1 20em;
}